/* CSS Document */
#body {
	margin: 0px;
	background-color: #99D9EA;

}
.topnav {
	width: 100%;
	position: fixed;
	height: 44px;
	background: #008080;
	z-index:2;
}
.textnav {
	color: #DAD6D4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	margin-right: 6px;

	text-align:center;
}
.buttonnav {
	display: inline-block;
	float: right;
	height: 44px;
	width: 44px;
}
.content {
	background-color: #99D9EA;
	padding: 0;
	position : absolute;
	top : 44px;
	display: inline-block;
}
